::-webkit-scrollbar { 
    display: none; 
}

.button-container, .tag-container {
    width: 100%;
}

.button-container {
    overflow-x: auto;
    white-space: nowrap;
}

.tag-list, .name-list {
    height: 275px;
    overflow-y: auto;
}

.tags, .names, .dates {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.dates {
    width: 20%;
}

.button {
    width: 17%;
    display: inline-block;
    vertical-align: top;
}

.tag, .name, .date, .tag-selected, .name-selected, .date-selected {
    border: 1px solid #555555;
    margin-bottom: 5px;
    padding: 2px 0px 2px 0px;
    color: #999999;
    display: flex;
}

.tag-open, .name-open {
    display: inline-block;
    width: 80%;
}

.tag-add, .name-add {
    display: inline-block;
    width: 20%;
    align-content: center;
    text-align: center;
    border-left: 1px solid #999999;
}

.tag-selected, .name-selected, .date-selected {
    color: white;
}

.filter {
    border: 1px solid #555555;
    color: white;
    display: inline-block;
    margin: 0px 5px 5px 0px;
}

.action {
    border: 1px solid #555555;
    color: white;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    max-width: 90%;
}

#dvNumbers {
    border: 1px solid #555555;
    display: none;
    padding: 10px;
    margin-top: 10px;
    color: #999999;
    
    span {
        display: inline-block;
        padding: 10px 20px 10px 20px;
        margin: 5px 0px 5px 0px;
        border: 1px solid #000000;
    }
}

#dvFilters, #dvActions {
    display: inline;
}

.hidden {
    display: none;
}

.dvLetters {
    border: 1px solid #555555;
    padding: 5px;
    margin-top: 10px;
    color: #999999;
    display: none;
}

.dvLetterRow {
    width: 100%;
    text-align: center;
}

.dvLetter {
    display: inline-block;
    padding: 10px;
    border: 1px solid #000000;
}

input {
    background-color: black;
    color: white;
    width: 100%;
    outline: none;
    font-family: "Courier New";
    font-size: large;
    border: 1px solid #555555;
    padding: 0px;
    height: 30px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    border: 1px solid #555555;
    background-color: black;
    color: white;
    padding: 0px;
    height: 32px;
    margin-bottom: 5px;
}
