#dvUi {
    display: none;
}

.container {
    width: 100%;
    display: inline;
}

.tags, .names, .dates {
    width: 38%;
    display: inline-block;
    vertical-align: top;
}

.dates {
    width: 20%;
}

.button {
    width: 17.1%;
    display: inline-block;
    vertical-align: top;
}

.tag, .name, .date, .tag-selected, .name-selected, .date-selected {
    border: 1px solid #555555;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px 0px 2px 0px;
    color: #999999;
}

.tag-selected, .name-selected, .date-selected {
    color: white;
}

.filter {
    border: 1px solid #555555;
    color: white;
    display: inline-block;
    margin: 0px 5px 5px 0px;
}

input {
    background-color: black;
    color: white;
    width: 100%;
    outline: none;
    font-family: "Courier New";
    font-size: large;
    border: 1px solid #555555;
    padding: 0px;
    height: 30px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    border: 1px solid #555555;
    background-color: black;
    color: white;
    padding: 0px;
    height: 32px;
    margin-bottom: 5px;
}
